@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap');

@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(./PPNeueMachina-InktrapVariable.woff) format('woff');
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "MyFont";
}
::selection{
    background-color: #FF5500;
    color: white;
  }
.container {
    padding: 10px 10%;
    background-color: #d2e0f4;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    opacity: 0.90;
}
.navstyle{
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.459);
    z-index: 999;
}
.logodiv {
    width: 200px;
    height: 50px;
}
.logo {
    width: 100%;
}

.login_btn {
    text-decoration: none;
    color: #FF5500;
    font-weight: 400;
    margin-right: 15px;
}

.signin_btn {
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-color: #FF5500;
    font-size: 18px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}

.content {
    margin-top: 10%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.content h1 {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: var(--e-global-typography-primary-font-size);
    font-weight: var(--e-global-typography-primary-font-weight);
    line-height: var(--e-global-typography-primary-line-height);
    letter-spacing: var(--e-global-typography-primary-letter-spacing);
    word-spacing: var(--e-global-typography-primary-word-spacing);
    font-size: 70px;
    color: #333;
}

.content p {
    font-family: sans-serif;
    margin: 10px 0 30px;
    font-size: 20px;
    color: #333;
    animation-delay: 0.5s;
}

.content .signin_btn {
    padding: 15px 80px;
    font-size: 16px;
    animation-delay: 1s;
    /* Keep the animation delay as it was for larger screens */
}

.signin_btn:hover {
    border-top-right-radius: 30px;
}

.feature_img {
    width: 460px;
    position: absolute;
    bottom: 0;
    right: 10%;
}

.feature_img.anim {
    animation-delay: 1.5s;
}

.anim {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(30px);
    }
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px 5%;
    }

    .content {
        margin-top: 20px;
        text-align: center;
    }

    .content h1 {
        font-size: 40px;
    }

    .content p {
        font-size: 16px;
    }
    .logo .signin_btn
    {
        display: none;
    }
    .content .signin_btn {
        padding: 15px 40px;
        font-size: 14px;
        animation-delay: 0.5s;
        /* Adjust the animation delay for smaller screens */
    }

    .feature_img {
        width: 100%;
        position: relative;
        bottom: auto;
        right: auto;
        margin-top: -54px;
    }
}


.aboutus {
    width: 100%;
    min-height: 100vh;
    background-color:white;
}

.containeraboutus {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.content-section {
    float: left;
    width: 55%;
}

.image-section {
    float: right;
    width: 40%;
}

.image-section img {
    width: 100%;
    height: auto;
}

.content-section .title {
    text-transform: uppercase;
    font-size: 28px;
}

.content-section .title h3 {
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 21px;
}

.content-section .title p {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.content-section .content .signin_btn a {
    text-decoration: none;
    color: #fff;
}

.content-section .social {
    margin: 40px 40px;
}

.content-section .social i {
    color: #a52aa5;
    font-size: 30px;
    padding: 0px 10px;
}

.content-section .social i:hover {
    color: #333;
}

@media screen and (max-width: 768px) {

    .container,
    .containeraboutus {
        padding: 10px 5%;
    }

    .content-section,
    .image-section {
        float: none;
        width: 100%;
    }

    .content-section .title {
        text-align: center;
        font-size: 19px;
    }

    .content-section .social {
        text-align: center;
    }
}


.feature {
    width: 100%;
    background: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 5%;
    overflow: hidden;
}

.feature h5 {
    margin-top: 20px;
    margin-left: 20px;
    color: #f36;
    letter-spacing: 1.5px;
    font-size: 24px;
}

.feature h1 {
    font-size: 40px;
    color: #3c3e41;
    margin-left: 20px;
    margin-top: 20px;
}

.containerfeature {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.box {
    width: calc(50% - 20px);
    max-width: 360px;
    height: 350px;
    margin: 20px 10px;
    padding: 20px;
    border-radius: 14px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 8px 8px 16px #d1d1d1, -8px -8px 16px #ffffff;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.feature .containerfeature .box:hover{
    background: linear-gradient(150deg,#FF5500, #FF5500);
    box-shadow: 8px 8px 16px #d1d1d1,
                -8px -8px 16px #ffffff;
}
.feature .containerfeature .box .icons{
    font-size: 50px;
    color: #f36;
    margin-top: 10px;
  }
  .feature .containerfeature .box:hover .icons{
    margin-top: 0px;
    color: #fff;
    transition: 0.3s;
}
.feature .containerfeature .box h2{
    font-weight: 500;
    margin-top: 25px;
}
.feature .containerfeature .box:hover h2{
    color: #fff;
}
.feature .containerfeature .box p{
    color: gray;
    font-weight: 400;
    margin-top: 25px;
}
.feature .containerfeature .box:hover p{
    color: #fff;
}
.feature .containerfeature .box .arrow
{
    font-size: 30px;
    color: #f36;
    margin-top: 40px;
    display: none;
}
.feature .containerfeature .box:hover .arrow{
    color: #fff;
    margin-top: 30px;
    display: block;
} 
@media screen and (max-width: 768px) {
    .feature h5 {
        margin-top: 10px;
        margin-left: 10px;
        font-size: 20px;
    }

    .feature h1 {
        font-size: 30px;
        margin-top: 10px;
    }

    .box {
        width: 100%; 
    }
}
.slide_body
{
    min-height: 80vh;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color:white;
}
.slide_container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}
.card
{
    width: 320px;
    border-radius: 25px;
    background-color: #fff;
}
.slide_content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}
.card_image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}
.card_image .card_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid orange;
}
.image_content, 
.card_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image_content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay{
 position: absolute;
 left: 0;
 top: 0;
 height: 100%;
 width: 100%;
 background-color:rgb(39, 39, 254);
 border-radius: 25px 25px 0 25px;
}

.card_content .name
{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.card_content .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}
.button{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #FF5500;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover
{
    background-color: rgb(255, 194, 81);
}
.swiper-navbtn{
    color:orange;
    transition: color 0.3s ease;
}
.swiper-navbtn:hover{
    color: #4070fa;
}
.swiper-navbtn::before,
.swiper-navbtn::after
{
    font-size: 40px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev
{
    left: 0;
}
.swiper-pagination-bullet{
    background-color: orange;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #4070fa;
}
@media screen and (max-width: 768px) {
    .slide_content{
        margin: 0 10px;
    }
    .swiper-navbtn{
        display: none;
    }
}
.contact_body
{
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    align-items: center;
    display: flex;
    overflow: hidden;
}
.contact_container{
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    color: #023047;
    padding: 48px 16px;
}
.contact_container .contact-left{
    background: #000000;
    padding: 32px 24px;
    border-radius: 5px;
    box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}
.contact_container h2{
    margin-top: 8px;
    margin-bottom: 32px;
    font-size: 22px;
}

.contact_container h2.contact_left_heading{
    color: #fff;
}
.contact_container .contact-left .form_element .form_input{
    padding: 12px 16px;
    width: 100%;
    border: 0;
    margin-bottom: 24px;
    border-radius: 4px;
    box-shadow: 0 5px 8px -2px rgba(0, 0,0,0.2) ;
}
.contact_container .contact-left .form_element{
    position: relative;
}
.contact_container .contact-left .form_element label{
    position: absolute;
    left: 16px;
    transform: translateY(12px);
    font-size: 14px;
    color: #777;
    transition: all 300ms;
}
#contact_message {
    min-width: 70%;
}
.contact_container .contact-left .form_element label.active{
    background: #023047;
    transform: translate(8px,-16px);
    color: #fff;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 13px;
}
.contact_container .contact-left .form_btn{
    background: #FF5500;
    border: 0;
    color: #fff;
    padding: 10px 48px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 5px 8px -2px rgba(0, 0,0,0.2) ;
    cursor: pointer;
    transition: all 300ms;
}
.contact_container .contact-left .form_btn:hover
{
    transform: scale(1.05);
}
.contact_container .contact_right{
    padding-left: 80px;
}
@media (max-width: 600px) {
    .contact_container{
        flex-direction: column;
        padding: 0 32px;
    }
    .contact_container .contact-left{
        border-radius: 0;
        width: 100%;
        padding: 25px;
        border-radius: 5px;
    }
    .contact_container .contact_right{
        width: 100%;
        padding: 48px 0px;
    }   
    .form_input {
        width: 95%;
    }
}
.footer_body{
    background-color: #f1f1f1;
    width: 100%;
    height: 30vh;
}
footer{
    width: 100%;
    position: absolute;
    background: rgb(23, 23, 23);
    color: #fff;
    padding: 50px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.footer_logo{
    width: 80px;
    margin-bottom: 30px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.footer_email{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
ul li {
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
.footer_form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;

}
.footer_form .fa-regular{
    font-size: 18px;
    margin-right: 10px;
}
.footer_form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
.footer_form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
.footer_form button .fa-solid{
    font-size: 16px;
    color: #ccc;


}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving {
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}